<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.3.0/d3.min.js" integrity="sha512-NMhzM2RHzbCRO0s5VPaRC+2bW6nmNXimzC9p5sp2x19M+zzuSJ2T50dEQ7hpHkNjnX1mt8nQg1NNthwRZgsoIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
.map-wrapper{max-width:1080px;margin:0 auto;font-size:16px}select{appearance:none;background-color:#fff;border:1px solid #c4c4c4;border-radius:0;color:#222221;font-family:inherit;font-size:inherit;min-height:52px;width:100%;padding:.5rem}select+select{margin-left:1rem}.filter{display:flex;flex-wrap:no-wrap;width:100%;padding:0;justify-content:space-between}.filter .has-value{background-color:#e2382a;background-image:url(../assets/icons/chevron_dropdown-white-8e9b3105a4.svg);border-color:#e2382a;color:#fff;background-repeat:no-repeat;background-position:98%}select option{text-transform:capitalize}#map{height:80vh;width:100%}.div-marker>div{background-color:#e41a1c;padding:5px;width:25px;height:30px;border-radius:50% 30% 40% 30%;box-shadow:0 0 .4em #222221;mix-blend-mode:color;font-weight:700;text-align:center;color:#fff}.div-marker>div.church-icon{background-color:#ff7f00;padding:5px;width:25px;height:30px;border-radius:5%;box-shadow:0 0 .4em #222221;mix-blend-mode:color;border-radius:10% 10% 30% 30%}.div-marker div.church-icon::after{border:8px solid #ff7f00;border-color:#ff7f00 transparent transparent transparent}.div-marker div::after{position:absolute;bottom:-31.5px;left:4.5px;border:8px solid #e41a1c;content:" ";border-color:#e41a1c transparent transparent transparent;z-index:-1}.marker-cluster{width:auto;height:auto;border:none;background-color:transparent}.cluster-marker{width:30px;height:30px;border-radius:20% 30% 40% 50%;background-color:#5197f4;text-align:center;box-shadow:0 0 .8rem #5197f4;color:#fff;display:flex;align-items:center;justify-content:center}.leaflet-popup-content h2,.leaflet-popup-content p{margin:0!important}.leaflet-popup .leaflet-popup-content-wrapper{padding:1px;text-align:left;border-radius:5px 5px 5px 15px}.section-link{margin:.25rem 0;width:100%}.section-link-inner{width:100%;background-color:#e2382a;border-radius:5px;padding:.5rem .375rem;text-align:center}.btn-link{text-decoration:none;color:#fff!important}.legend-section>div{display:grid;grid-template-columns:repeat(auto-fill,200px);grid-gap:10px}.legend-item{display:flex;flex-direction:column;align-items:center;margin:0 .2rem;width:130px}.legend-item img{height:30px;width:auto}.visualize-by{z-index:1000;background-color:#fff;bottom:10px;left:10px;border-radius:5px;padding:.5rem;position:absolute;box-shadow:0 0 .2rem #222}.visualize-by h6{margin:0!important;font-size:1rem;padding:0;font-size:16px!important}.d-none{display:none!important}.map-wrapper label{margin:0!important;font-size:16px;width:auto}.map-wrapper input[type=radio]{opacity:1;position:relative;margin:0; width:auto;}.map-wrapper label::before{display:none}@media screen and (max-width:480px){.legend-section>div{grid-template-columns:1fr 1fr;height:200px;overflow-y:auto}}
.section-link {margin: 0.25rem 0;width: 100%; }
.section-link-inner {width: 100%;background-color: #e2382a;border-radius: 5px;padding:0.5rem 0.375rem;text-align: center;}
.btn-link {text-decoration: none;color:#fff !important; }
.leaflet-control-layers-selector { width:auto !important; opacity:1};
</style> 
<script type="text/javascript">let data = {{ jsonData|json_encode }}</script>
<div class="container centerMaxWidthContainer" is="flynt-map-component">
    <h2 class="h1 preTitle">
        Unsere Einrichtungen und die unserer Mitgliedsorganisationen auf einen Blick
    </h2>
    <div class="map-wrapper">
        <div class="filter-container">
            <span class="service-instructions" _msthash="800670" _msttexthash="294996">Filtern Sie unsere Angebote</span>

            <ul class="filter" id="filter">
                <select name="servicecategory" id="service-select">
                    <option value="all" _msthash="559390" _msttexthash="257127">Alle Einrichtungstypen/Angebotsarten</option>
                </select>

                <select name="traeger" id="institution-select">
                    <option value="all" _msthash="559689" _msttexthash="198172">Alle Träger</option>
                </select>

                <select name="neighbourhood" class="" id="region-select">
                    <option value="all" _msthash="559988" _msttexthash="174642">Alle Regionen</option>
                </select>
            </ul>
        </div>

        <div id="map">
            <div class="visualize-by">
                <h6>Anzeigen nach</h6>
                <div class="">
                    <input type="radio" name="type" id="angebot" class="visual-type" checked>
                    <label for="angebot">Angebotsart</label>
                </div>
                <div class="">
                    <input type="radio" name="type" id="traeger" class="visual-type" >
                    <label for="traeger">Träger</label>
                </div>
            </div>
        </div>

        <div class="legend-section" id="">
            <div class="" id="angebot-legend"></div>
            <div class="d-none" id="traeger-legend"></div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<script>
var servicesSelect = document.getElementById("service-select");
var regionsSelect = document.getElementById("region-select");
var institutionSelect = document.getElementById("institution-select");
let angebotLegend = document.getElementById("angebot-legend");
let traegerLegend = document.getElementById("traeger-legend");
var activeType = "angebot";

let servicesData = [];
let filterResult;
let angebotIcons = [
    'angebot_kita_ganztag', 'angebot_pflege', 'angebot_seniorinnen', 
    'angebot_mitgliedsorganisation', 'angebot_finanzielle_schwierigkeiten',
    'angebot_flucht_asyl', 'angebot_inklusion', 'angebot_jugend',
    'angebot_kultur', 'angebot_migration', 'angebot_lgbtqi', 
    'angebot_sucht', 'angebot_familie', 'angebot_frauen', 
    'angebot_geschaeftsstelle', 'angebot_straffaelligkeit',
    'angebot_psychische_beeintraechtigung', 'angebot_kinder', 'angebot_wohnungsnotfallhilfe',
    'angebot_engagement', 'angebot_beratung','angebot_freiwilligendienst', 'angebot_migration_integration',
    'angebot_rechts-sozialberatung'
];

let traegerIcons = [
    'traeger_awo_kreisverband_spree-wuhle', 
    'traeger_awo_kreisverband_mitte', 
    'traeger_awo_kreisverband_suedost', 
    'traeger_awo_kreisverband_berlin-nordwest', 
    'traeger_awo_kreisverband_suedwest',
    'traeger_awo_kreisverband_spandau', 
    'traeger_awo_kreisverband_treptow-köpenick', 

    // 'traeger_awo_pro:mensch_ggmbh', 
    // 'traeger_awo_gemeinnuetzige_pflegegesellschaft_mbh', 
    // 'traeger_liga_berlin_der_spitzenverbände_der_freien_wohlfahrtspflege', 
    
    ]

var map = L.map('map').setView([52.50697119418263, 13.400917053222658], 11);

// load a tile layer
L.tileLayer('https://{s}.tile.jawg.io/jawg-sunny/{z}/{x}/{y}{r}.png?access-token=URi8mB9dsRckbqXdBLh1emM3z9mabDqlnrdrHjSMV6wsZhLunQ03Nlkbr3FzDj2H', {
	attribution: '<a href="http://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	minZoom: 0,
	maxZoom: 22,
	subdomains: 'abcd',
	accessToken: 'URi8mB9dsRckbqXdBLh1emM3z9mabDqlnrdrHjSMV6wsZhLunQ03Nlkbr3FzDj2H'
}).addTo(map);

// regions
let regions = L.geoJSON(null, {
    style:function(feature) {
        return {
            fillColor:feature.properties.color,
            fillOpacity:0.3,
            color:'#333',
            weight:0.5
        }
    }
});

fetch(`${data.dataUrl}/data/regions.geojson`)
.then(res => res.json())
.then(data => {
    regions.addData(data);

    map.fitBounds(regions.getBounds())
})
.catch(console.error)


// markers
let markerIcon = L.divIcon({
    className:'div-marker',
    html:'<div></div>'
});

let markerCluster = L.markerClusterGroup({
    showCoverageOnHover:false,
    iconCreateFunction: iconCreate
})
.addTo(map);
    
function iconCreate(cluster) {
    return L.divIcon({
        className:'marker-cluster',
        html: '<div class="cluster-marker"><b>' + cluster.getChildCount() + '</b><div>' 
    });
}

// 
let servicesObj = L.geoJSON(null, {

});

servicesObj.addTo(map);

// Layer control
let layerControl = L.control.layers({}, {
    'Regionen':regions,
    'Angebote':markerCluster
}, { collapsed:false }).addTo(map)


// handle input changes
let filterObj = {
    servicecategory:'all',
    servicelanguage:'all',
    neighbourhood:'all'
};

let filters = document.querySelectorAll(".filter > select");
console.log(filters);

filters.forEach(filter => {
    filter.onchange = function(e) {
        // get the id
        let { name, value } = e.target;
        filterObj[name] = value;

        let filter = [];
        Object.keys(filterObj).forEach(key => {
            if(filterObj[key] != 'all') {
                filter.push({
                    key,
                    value:filterObj[key]
                });
            }
        });

        value == 'all' ? toggleActiveClass(e.target) : toggleActiveClass(e.target, "add");

        // filter the results
        filterResult = filterServices(filter);
        console.log(filterResult);

        let markers = createMarkers(filterResult, activeType);

        // update the map
        markerCluster.clearLayers();
        markerCluster.addLayers(markers);
    }
});

var visaulizeBy = document.querySelectorAll(".visual-type");
visaulizeBy.forEach(vBy => {
    vBy.addEventListener("click", function(e) {
        let { target: { name, id} } = e;

        console.log(id);
        activeType = id;

        let data = JSON.parse(JSON.stringify(filterResult || servicesData));
        let markers = createMarkers(data, id);

        // update the map
        markerCluster.clearLayers();
        markerCluster.addLayers(markers);

        // hide the leged section
        if(id == "angebot") {
            angebotLegend.classList.remove('d-none');
            traegerLegend.classList.add('d-none');
        } else {
            angebotLegend.classList.add('d-none');
            traegerLegend.classList.remove('d-none');
        }
    });

    
});

function handleSelectChange(e) {

}

function toggleActiveClass(element, action='remove') {
    if(action == "add") {
        element.classList.add('has-value');
    } else {
        element.classList.remove('has-value');
    }
    
}

// filter the data
function filterServices(filterItems) {
    let result = JSON.parse(JSON.stringify(servicesData));
    return result.filter(item => filterItems.every(fItem => item[fItem.key].includes(fItem.value)))
}

function onLoad(posts) {    
    let markers = createMarkers(posts);
    markerCluster.addLayers(markers);
}

function loadSelectValues(data) {
    let rCompose = compose(getUniqueValues, stringFilter, getValues)
    let sCompose = compose(getUniqueValues, stringFilter, trimMap, flattenValues, splitMap, getValues);

    let services = sCompose({items:data.terms[0], field:'name'})
    let regions = rCompose({items:data.terms[2], field:'name'});
    let institutions = sCompose({items:Object.values(data.posts), field:'traeger'});
    console.log(institutions);

    // update the  
    updateSelect(
        optionItems(optionItem)(services.sort())
    )(servicesSelect);

    updateSelect(
        optionItems(optionItem)(regions.sort())
    )(regionsSelect);

    updateSelect(
        optionItems(optionItem)(institutions.sort())
    )(institutionSelect);

    servicesData = JSON.parse(JSON.stringify(Object.values(data.posts)))

    onLoad(servicesData);
}

function splitValues(item) {
    return item.split(",");
}

function flattenValues(items) {
    return items.flatMap(i => i);
}

// get the regions
function getValues({items, field}) {
    return items.map(item => item[field].trim())
}

function getUniqueValues(items) {
    return [... new Set(items)];
}

const splitMap = items => items.map(splitValues);
const trimMap = items => items.map(item => item.trim());
const stringFilter = items => items.filter(item => item);

const compose = (...fns) => x => fns.reduceRight((y, f) => f(y), x);

// update the select section
const updateSelect = (optionHtml) => elem => elem.innerHTML += optionHtml;
const optionItems = fn => x => x.map(fn);
function optionItem(item) {
    return `<option value="${item}">${item}</option>`
}

function createMarkers(data, type="angebot") {

    let markerArray = data.filter(item => item.laengengrad != "0" && item.laengengrad && item.servicecategory).map(item => {
        let popupContent = getPopupContent(item);
        let iconName;
        if(type == "angebot") {
            iconName = getIconName(item.servicecategory, type);
        } else {
            iconName = getIconName(item.traeger, 'traeger');
        }

        let icon = iconName ? getMarkerIcon(iconName, type) : markerIcon;


        return L.marker([
            parseFloat(item.breitengrad), 
            parseFloat(item.laengengrad)
        ], 
        { icon:icon }
        ).bindPopup(popupContent);


    });

    console.log(markerArray.length);
    return markerArray;
}

function getPopupContent(item) {
    return `<div>
        <h5 style="margin:0;">${item.post_title}</h5> 
        <p>${item.address}</p>
        <div class="popup-body">
            <div class="">
                <div><b>Telefonnummer</b></div>
                <div>${item.telephone}</div>
            </div>
            <div class="">
                <div><b>Angebote</b></div>
                <div>${item.servicecategory}</div>
            </div>

            <div class="">
                <div><b>Regionen</b></div>
                <div>${item.neighbourhood}</div>
            </div>

            <div class="">
                <div><b>Träger</b></div>
                <div>${item.traeger}</div>
            </div>

            <div class="section-link">
                <a href="${item.website}" class="btn-link">
                    <div class="section-link-inner">Website</div>
                </a>
            </div>
            
        </div>
    </div>`;
}

function getMarkerIcon(value, field) {
    return L.icon({
        iconUrl:getIconUrl(value, field),
        iconSize:[32, 32]
    });
}

loadSelectValues(data);

// loadSelectValues(data);
function getIconName(value, field) {
    value = value.split(",")[0];

    let name = "";
    if(field == 'angebot') {
        name = value.replace(/\s/g, "_").toLowerCase().replace(/ä/g, "ae").replace("/", "_").replace("*", "");
        let iconName = `${field}_${name}`;

        if(angebotIcons.indexOf(iconName) == -1) {
            console.log(iconName);
        }

        return angebotIcons.indexOf(iconName) != -1 ? iconName : false;
    } else {
        name = value.trim().replace(/\s/g, "_").replace("_e.V.", "").replace(/ü/g, "ue").toLowerCase()
        let iconName = `${field}_${name}`;

        return traegerIcons.indexOf(iconName) != -1 ? iconName : 'traeger_mitgliedsorganisation_korporatives_mitglied';
    }

}

function getIconUrl(iconName, field) {
    // return iconName;
    return `${data.dataUrl}/${field}Icon/${iconName}.png`
}


function visaulizeBy() {
    
}

function updateLegend() {
    // update the legend item
    angebotLegend.innerHTML = data.terms[0].map(term => { 
        let t = "angebot_" + term.slug.replace("-", "_");

        return [term.name, t]
    }).map(item => legendItem(item[1], item[0], "angebot")).join("");

    let sCompose = compose(getUniqueValues, stringFilter, trimMap, flattenValues, splitMap, getValues);
    institutions = sCompose({items:Object.values(data.posts), field:'traeger'});

    traegerLegend.innerHTML = institutions.map(ins => {
        let iconName = ins.trim().replace(/\s/g, "_").replace("_e.V.", "").replace(/ü/g, "ue").toLowerCase();
        iconName = `traeger_${iconName}`;

        // if(traegerIcons.indexOf(iconName) != -1) {
        //     console.log(iconName);
        // }

        iconName = traegerIcons.indexOf(iconName) != -1 ? iconName : 'traeger_mitgliedsorganisation_korporatives_mitglied';

        return [ins, iconName]
    }).map(item => legendItem(item[1], item[0], "traeger")).join("");

}

function legendItem(iconName, category, field="angebot") {
    // let category;
    // if(field == 'angebot') {
    //     category = iconName.split("_").slice(1,).join("/");
    // } else {
    //     category = iconName.split("_").slice(1,).join("/");
    // }

    return `<div class="legend-item">
        <img src="${data.dataUrl}/${field}Icon/${iconName}.png" alt="">
        <div>
            ${category}
        </div>
    </div>`
}

updateLegend();
// markerIcon (first category), multiple filter, 
// traeger
</script>


